<h3><%= t(:label_sneak_polls_poll_stats_per_user) %></h3>

<% unless stats.blank? %>
    <table class="list sneak_polls tight">
        <thead>
            <tr>
                <th><%= l(:field_name) %></th>
                <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                    <th colspan="2"><%= abbr_tag(:"field_#{column}") %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>" id="<%= dom_id(stat) %>">
                    <td class="string title">
                        <%= link_to(stat.poll.title, :controller => :sneak_polls, :action => :show, :project_id => stat.poll.project, :id => stat.poll) %>
                        (<%= link_to(stat.poll.project.name, :controller => :sneak_polls, :action => :index, :project_id => stat.poll.project) %>)
                    </td>
                    <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                        <% principal_grade = stat["average_#{column}_by_principals"] %>
                        <% coworker_grade  = stat["average_#{column}_by_coworkers"] %>
                        <td class="float grade_by_principals">
                            <span class="<%= SneakPoll.grade_css_classes(principal_grade) %>"><%= format_grade(principal_grade) %></span>
                            /
                        </td>
                        <td class="float grade_by_coworkers left">
                            <span class="<%= SneakPoll.grade_css_classes(coworker_grade) %>"><%= format_grade(coworker_grade) %></span>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>

<h3><%= t(:label_sneak_polls_poll_quarterly_stats_per_user) %></h3>

<% unless quarterly_stats.blank? %>
    <table class="list sneak_polls tight">
        <thead>
            <tr>
                <th><%= l(:field_year) %> / <%= l(:field_quarter) %></th>
                <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                    <th colspan="2"><%= abbr_tag(:"field_#{column}") %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% quarterly_stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>">
                    <td class="string title">
                        <%= stat.year %> / <%= abbr_tag(:field_quarter) %><%= stat.quarter %>
                    </td>
                    <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                        <% principal_grade = stat["average_#{column}_by_principals"] %>
                        <% coworker_grade  = stat["average_#{column}_by_coworkers"] %>
                        <td class="float grade_by_principals">
                            <span class="<%= SneakPoll.grade_css_classes(principal_grade) %>"><%= format_grade(principal_grade) %></span>
                            /
                        </td>
                        <td class="float grade_by_coworkers left">
                            <span class="<%= SneakPoll.grade_css_classes(coworker_grade) %>"><%= format_grade(coworker_grade) %></span>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>
