<h3><%= t(:label_sneak_polls_poll_stats_per_user) %></h3>

<% unless stats.blank? %>
    <table class="list sneak_polls tight">
        <thead>
            <tr>
                <th><%= l(:field_name) %></th>
                <%= sneak_poll_headers %>
            </tr>
        </thead>
        <tbody>
            <% stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>" id="<%= dom_id(stat) %>">
                    <td class="string title">
                        <%= link_to(stat.poll.title, :controller => :sneak_polls, :action => :show, :project_id => stat.poll.project, :id => stat.poll) %>
                        (<%= link_to_unless(stat.poll.project.archived?, stat.poll.project.name, :controller => :sneak_polls, :action => :index, :project_id => stat.poll.project) %>)
                    </td>
                    <%= sneak_poll_columns(stat, stats_by_principals[stat.poll_id]) %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>

<h3><%= t(:label_sneak_polls_poll_quarterly_stats_per_user) %></h3>

<% unless quarterly_stats.blank? %>
    <table class="list sneak_polls tight">
        <thead>
            <tr>
                <th><%= l(:field_year) %> / <%= l(:field_quarter) %></th>
                <%= sneak_poll_headers %>
            </tr>
        </thead>
        <tbody>
            <% quarterly_stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>">
                    <td class="string title">
                        <%= stat.year %> / <%= abbr_tag(:field_quarter) %><%= stat.quarter %>
                    </td>
                    <%= sneak_poll_columns(stat) %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>
