<% unless stats.blank? %>
    <table class="list sneak_polls">
        <thead>
            <tr>
                <%= sort_header_tag 'name', :caption => l(:field_name) %>
                <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                    <%= sort_header_tag "average_#{column}", :caption => abbr_tag(:"field_#{column}"), :colspan => 2 %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>" id="<%= dom_id(stat) %>">
                    <td class="string title"><%= link_to_user(stat.user) %></td>
                    <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                        <% principal_grade = stat["average_#{column}_by_principals"] %>
                        <% coworker_grade  = stat["average_#{column}_by_coworkers"] %>
                        <td class="float">
                            <span class="<%= SneakPoll.grade_css_classes(principal_grade) %>"><%= format_grade(principal_grade) %></span>
                            /
                        </td>
                        <td class="float left">
                            <span class="<%= SneakPoll.grade_css_classes(coworker_grade) %>"><%= format_grade(coworker_grade) %></span>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>
