<% unless stats.blank? %>
    <table class="list sneak_polls">
        <thead>
            <tr>
                <%= sort_header_tag 'name', :caption => l(:field_name) %>
                <%= sneak_poll_headers %>
            </tr>
        </thead>
        <tbody>
            <% stats.each do |stat| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>">
                    <td class="string title"><%= link_to_user(stat.user) %></td>
                    <%= sneak_poll_columns(stat) %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>
