<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'sneak_polls', :plugin => 'redmine_sneak_polls' %>
<% end %>

<% html_title t(:label_sneak_poll_title, :title => @sneak_poll.title) %>

<div class="contextual">
    <%= link_to t(:button_sneak_poll_vote), {:action => 'show'}, :class => 'icon icon-report' -%>
    <%- if can_manage? -%>
        |
        <%= link_to t(:button_edit), {:action => 'edit'}, :class => 'icon icon-edit' -%>
        |
        <%= link_to l(:button_delete), {:controller => 'sneak_polls', :action => 'destroy', :project_id => @project, :id => @sneak_poll}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del', :title => l(:button_delete) -%>
    <%- end -%>
</div>

<h2><%= t(:label_sneak_poll_title, :title => @sneak_poll.title) %></h2>

<% unless @users.blank? %>
    <table class="list sneak_polls">
        <thead>
            <tr>
                <%= sort_header_tag 'users.lastname', :caption => l(:field_name) %>
                <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                    <%= sort_header_tag "average_#{column}", :caption => abbr_tag(:"field_#{column}"), :colspan => 2 %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr class="sneak_poll <%= cycle('even', 'odd') %>" id="<%= dom_id(user) %>">
                    <td class="string title"><%= link_to_user(user) %></td>
                    <% SneakPollVote::GRADE_COLUMNS.each do |column| %>
                        <% principal_grade = @principal_stats[user] && @principal_stats[user].first.send("average_#{column}") %>
                        <% coworker_grade  = @coworker_stats[user]  && @coworker_stats[user].first.send("average_#{column}") %>
                        <td class="float">
                            <span class="<%= SneakPoll.grade_css_classes(principal_grade) %>"><%= format_grade(principal_grade) %></span>
                            /
                        </td>
                        <td class="float left">
                            <span class="<%= SneakPoll.grade_css_classes(coworker_grade) %>"><%= format_grade(coworker_grade) %></span>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p><%= t(:label_sneak_poll_blank_stats) %></p>
<% end %>
